/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 200px;
  max-width: 300px;
}

#progressBar {
  width: 100%;
  background-color: #e0e0e0;
  height: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

#progress {
  height: 10px;
  background-color: #4caf50;
  border-radius: 5px;
  width: 0%;
  transition: width 0.3s;
}

.stats-numbers p {
  font-weight: bold;
  font-size: 16px;
  color: #555;
}

.todolist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  display: flex;
  gap: 10px;
}

#taskinput {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.tasklist {
  list-style-type: none;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
}



.checkbox {
  cursor: pointer;
}

.icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 8px;
  transition: transform 0.2s;
}

.icons img:hover {
  transform: scale(1.1);
}
